<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.kjwang.mapper.StudentMapper">
    <resultMap id="studentMap" type="Student">
        <id column="student_id" property="studentId"></id>
        <result column="student_name" property="studentName"></result>
        <result column="hometown" property="hometown"></result>
        <result column="birthday" property="birthday"></result>
        <association property="clazz" javaType="Clazz">
            <id column="clazz_id" property="clazzId"></id>
            <result column="clazz_name" property="clazzName"></result>
        </association>
    </resultMap>

    <select id="selectManyToOne" resultMap="studentMap">
        SELECT s.student_id, s.student_name, s.hometown, s.birthday, c.clazz_id, c.clazz_name
        FROM t_student s,
             t_clazz c
        WHERE s.student_id = #{studentId}
          AND s.clazz_id = c.clazz_id
    </select>

<!--批量插入-->
    <insert id="batchInsert" parameterType="Student">
        INSERT INTO t_student
        VALUES
        <foreach collection="students" item="student" index="index" separator=",">
            (#{student.studentId},#{student.clazzId},#{student.studentName},
             #{student.hometown},#{student.birthday})
        </foreach>
    </insert>

<!--批量修改-->
    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="students" item="student" index="index" open="" close="" separator=";">
            UPDATE t_student t
            <set>
                <if test="student.clazzId != null">
                    `clazz_id` = #{student.clazzId},
                </if>
                <if test="student.studentName != null">
                    `student_name` = #{student.studentName},
                </if>
                <if test="student.hometown != null">
                    `hometown` = #{student.hometown},
                </if>
                <if test="student.birthday != null">
                    `birthday` = #{student.birthday},
                </if>
            </set>
            WHERE t.student_id = #{student.studentId}
        </foreach>
    </update>

<!--  批量删除  -->
    <delete id="batchDelete" parameterType="int">
        DELETE FROM t_student
        WHERE student_id in
        <foreach collection="idList" item="id" index="index" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>